body {
  font-family: Karla, sans-serif;
  background: #f6f5f5;
}

/* Navbar Styling */
h1 {
  font-weight: bold;
  font-size: 2.3rem;
  font-style: italic;
}

h2 {
  font-size: 1.25rem;
  font-style: italic;
}

.navbar a {
  color: black;
  text-decoration: underline;
  font-style: italic;
}

.navbar .active {
  font-weight: bold;
  text-decoration: none;
}

.navbar .active:hover {
  text-decoration: none;
  cursor: default;
}

.navbar a:hover {
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (min-width: 992px) {
  .navbar {
    position: fixed;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    padding-top: 1.5rem;
  }

  li {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    min-height: 100vh;
  }
}

/* Image Styling */
img {
  cursor: pointer;
  transition: 0.3s;
}

.horizontal-img {
  max-width: 100%;
  height: auto;
}

.bottom-horizontal-img {
  max-width: 100%;
  height: auto;
}

.vertical-img {
  max-height: 100vh;
  width: auto;
}

.gallery-img {
  padding: 0.5rem;
}

.gallery-img:hover {
  opacity: 0.75;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-height: 70vh;
  width: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Styles on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    max-width: 100vw;
  }
}
